<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tonet</title>
    <!-- <link rel="stylesheet" href="public/css/style.css"> -->


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap" rel="stylesheet">

    <style>
        * {
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

.Sep-container {
  background-color: #F9FBFF;
  position: relative;
  width: 100%;
  height: 100vh;
}

.box-container {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 60%;
  height: auto;
  padding-bottom: 2rem;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.img-container {
  position: relative;
  padding: 2rem;
}

.img-container .logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.img-container .img-box {
  margin: 1rem auto 0.5rem;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #E8EDFC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-container .img-box .img {
  width: 60%;
  height: 60%;
}

.img-container h2 {
  color: #202125;
  margin: 1rem auto;
  font-size: 2.2rem;
}

.img-container p {
  color: #202125;
  opacity: 0.5;
  font-size: 1.3rem;
  width: 60%;
  margin: 0.5rem auto;
}

.verity-code {
  text-align: center;
}

.verity-code .Mycode {
  font-size: 4rem;
  letter-spacing: 1rem;
}

.verity-code div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.verity-code div span {
  cursor: pointer;
  margin-right: 10px;
  color: #428DFF;
  font-size: 1rem;
}

.button-container {
  margin-top: 1.5rem;
}

.button-container button {
  border-radius: 12px;
  background: #428DFF;
  -webkit-box-shadow: 0 5px 10px rgba(66, 141, 255, 0.5);
          box-shadow: 0 5px 10px rgba(66, 141, 255, 0.5);
  padding: 1.2rem;
  font-size: 1.5rem;
  color: #fff;
  border: 0;
  width: 50%;
  cursor: pointer;
}

.button-container button:hover {
  background: #357fee;
}

@media only screen and (max-width: 600px) {
  .box-container {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 95%;
    height: auto;
    padding-bottom: 2rem;
    background-color: #fff;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 30px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  }
  .img-container {
    position: relative;
    padding: 2rem;
  }
  .img-container .logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
  .img-container .img-box {
    margin: 5rem auto 0.5rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #E8EDFC;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .img-container .img-box .img {
    width: 60%;
    height: 60%;
  }
  .img-container h2 {
    color: #202125;
    margin: 1rem auto;
    font-size: 2rem;
  }
  .img-container p {
    color: #202125;
    opacity: 0.5;
    font-size: 1.2rem;
    width: 100%;
    margin: 0.5rem auto;
  }
  .button-container {
    margin-top: 1.5rem;
  }
  .button-container button {
    border-radius: 12px;
    background: #428DFF;
    -webkit-box-shadow: 0 5px 10px rgba(66, 141, 255, 0.5);
            box-shadow: 0 5px 10px rgba(66, 141, 255, 0.5);
    padding: 1.2rem;
    font-size: 1.5rem;
    color: #fff;
    border: 0;
    width: 90%;
    cursor: pointer;
  }
  .button-container button:hover {
    background: #357fee;
  }
}
/*# sourceMappingURL=style.css.map */
    </style>

    
</head>
<body>

    <div class="Sep-container">
        <div class="box-container">
            <div class="img-container">
                <!--  tonet logo -->
                <img class="logo" src="https://cdn.tonet.me/static/tonet-logo.svg" alt="">
                  
                <div class="img-box">
                    <!-- icon page -->
                    
                    <!-- verify code -->
                    
                    <img class="img" src="https://cdn.tonet.me/static/verify-code.svg" alt="">
                   
                      

                </div>
                <!-- page header -->
                <h2> Tonet verification code  </h2>
                <!-- desciotion of message  -->
                <p>
                    to continue with ypur email verification, plaese use the following code :
                </p>

            </div>

            <!-- verification container -->
            <div class="verity-code">
                <span class="Mycode" id="verifyCode">{{code}}</span>

                <div>
                    <span> 
                        <img src="https://cdn.tonet.me/static/icon-feather.svg" alt="">
                    </span>
                    <span onclick="CopyToClipboard()"> Copy The Code </span>
                </div>
            </div>

        </div>
    </div>

    <script>

    function CopyToClipboard() {
      /* Get the text field */
      var copyText = document.getElementById("verifyCode").innerHTML;
      if(copyText.length < 6 && copyText.length > 4){
        navigator.clipboard.writeText(copyText);
        alert("Copied the text: " + copyText);
      }
    }

    </script>
    
</body>
</html>